.parallax0 {
  position: absolute;
  top: 2000px;
  left: 0;
  width: 200%;
  height: 200%;
}
.parallax1 {
  position: absolute;
  top: 2000px;
  left: 0;
  width: 200%;
  height: 200%;
}
.parallax2 {
  position: absolute;
  top: 2000px;
  left: 0;
  width: 200%;
  height: 200%;
}
.parallax3 {
  position: absolute;
  top: 2000px;
  left: 0;
  width: 200%;
  height: 200%;
}
.parallax4 {
  position: absolute;
  top: 2000px;
  left: 0;
  width: 200%;
  height: 200%;
}
.parallax5 {
  position: absolute;
  top: 2000px;
  left: 0;
  width: 200%;
  height: 200%;
}
.parallax6 {
  position: absolute;
  top: 2000px;
  left: 0;
  width: 200%;
  height: 200%;
}
.parallax7 {
  position: absolute;
  top: 2000px;
  left: 0;
  width: 200%;
  height: 200%;
}
.parallax8 {
  position: absolute;
  top: 2000px;
  left: 0;
  width: 200%;
  height: 200%;
}
